body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #0b1522;
  display: flex;
  align-items: center;
  justify-content: center;
}




.heart{
  width: 200px;
  height: 200px;
  
  position: relative;
  transform: rotate(-135deg);
  box-shadow: -20px 20px 100px #f20000;
  margin: 200px auto;
  animation: pulse 1s infinite alternate;
}

.square{
  width: 200px;
  height: 200px;
  
  position: absolute;
  background-color: #f20000;
  box-shadow: -20px 20px 100px #f20000;
}

.circle{
  width: 200px;
  height: 200px;
  
  border-radius: 200px;
  position:absolute ;
  background-color: #f20000;
  box-shadow: -20px 20px 100px #f20000;
}

.top{
  top:50%;
}

.left{
  left:50%}

@keyframes pulse{
 0%{transform: scale(0.9) rotate(-135deg);}
 100%{transform: scale(1.1) rotate(-135deg);}
}